@{
    Layout = "_Layout";
}
@using System.Globalization

<style>
 #map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}
</style>
<section class="content-header">
    <h1>
        @{
            CultureInfo en = new CultureInfo("EN");
        }
        รายงานผลการจำหน่ายหนังสือ :   @DateTime.Now.ToString("dd MMMM yyyy", en) <br />
        <small>Summary</small>
    </h1>
  
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h4>รายงานวันนี้</h4>
                    <p>คลิกเพื่อดูรายงาน</p>
                </div>
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <a href="@Url.Action("Index","ReportAds")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4>รายงานย้อนหลัง</h4>
                    <p>คลิกเพื่อดูรายงาน</p>
                </div>
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div>
                <a href="@Url.Action("search","Ads")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h4>10,000,000.00</h4>
                    <p>รายได้รวมทั้งหมด</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
       
        <!-- ./col -->
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div id="chartContainerBook" style="height: 400px; width: 100%;">
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border text-center">
                            <h5>การกระจายหนังสือ</h5>
                        </div>
                        <div class="box-body">
                            <div id="map" style="width: 100%; height: 400px; background: grey" />
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainerBook",
    {
      title:{
        text: "ยอดขายหนังสือ"
      },
      data: [

      {
          color: "#B0D0B0",
        dataPoints: [
        { x: 1, y: 297571, label: "ภาคเหนือ"},
        { x: 2, y: 267017,  label: "ภาคีสาน" },
        { x: 3, y: 175200,  label: "ภาคใต้"},
        { x: 4, y: 154580,  label: "ภาคตะวันออก"},
        { x: 5, y: 116000,  label: "ภาคตะวันตก"},
        { x: 6, y: 97800, label: "กรุงเทพ"}
        ]
      }
      ]
    });

    chart.render();
  }
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    var citymap = {
        ภาคกลาง: {
            center: { lat: 13.756841, lng: 100.504724 },
            population: 2000000
        },
        ภาคใต้: {
            center: { lat: 8.467362, lng: 99.047396 },
            population: 2700000
        },
        ภาคเหนือ: {
            center: { lat: 18.659577, lng: 99.124567 },
            population: 2700000
        },
        ภาคตะวันออกเฉียงเหนือ: {
            center: { lat: 16.457140, lng: 102.821695 },
            population: 2700000
        },
        ภาคตะวันออก: {
            center: { lat: 12.811553, lng: 102.029969 },
            population: 900000
        },
        ภาคตะวันตก: {
            center: { lat: 13.008715, lng: 99.638032 },
            population: 900000
        }
    };

    function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: { lat: 13.756841, lng: 100.504724 },
            mapTypeId: 'terrain'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var city in citymap) {
            // Add the circle for this city to the map.
            var cityCircle = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.20,
                map: map,
                center: citymap[city].center,
                radius: Math.sqrt(citymap[city].population) * 100
            });
        }
    }
</script>